# generated
node_modules/
bower_components/
platforms/
plugins/
resources/ios
resources/android
www/
coverage/

protractor/selenium-server-standalone.jar
protractor/chromedriver

# IDE
.idea/

# OS
.DS_Store
