<!-- <ion-spinner icon="crescent"></ion-spinner> -->

<ion-content class="EventList">
    <div ng-if="!eventsCtrl.showList" class="splash-parent animate-if">
        <div class="white-box">
            <img id="png-logo" class="logo" src="img/logo.png">
            <img id="svg-logo" class="logo no-svg" src="img/logo.svg">
        </div>
        <div class="coloured-box">
            <div class="coming-soon-text">
                Loading...
            </div>
        </div>
    </div>

    <div ng-if="eventsCtrl.showList">
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="eventsCtrl.EventList.getList()"> </ion-refresher>

        <ion-list can-swipe="true">
            <div ng-hide="eventsCtrl.EventList.events.length">
                You ain't got nuttin' to do bro
            </div>
            <ion-item ng-repeat="item in eventsCtrl.EventList.events" class="item item-avatar" ui-sref="events.detail.overview({eventId: item.id, event: item})">
                <img ng-src="{{ item.img }}">
                    <h2>{{::item.title}}</h2>
                    <p>{{::item.location.name}}</p>
                <ion-option-button class="button-balanced" ng-click="share(item)">
                    <a class="button button-icon icon ion-checkmark-round"></a>
                </ion-option-button>

                <ion-option-button class="button-assertive" ng-click="edit(item)">
                   <a class="button button-icon icon ion-close-round"></a>
                </ion-option-button>
              </ion-item>
        </ion-list>
    </div>
    <div class="error" ng-if="eventsCtrl.error">
        <img src="img/teardrop.svg">
        <div>{{eventsCtrl.error}}</div>
    </div>
</ion-content>