.EventLocation {

    height: 100%;
    display: flex;
    flex: 1 1 600px;
    flex-direction: column;
    align-items: stretch;


    .angular-google-map-container {
        height: calc(100vh - 88px);
    }

    .gmnoprint img {
        max-width: none;
    }

}