html, body {
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.white-box {
    flex: 1;
    position: relative;
}

.coloured-box {
    background-color: rgb(243, 164, 40);
    flex: 2;
    width: 100%;
    color: white;
}
.coming-soon-text {
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

img.logo{
    bottom: 0;
    position: absolute;
    margin: 0 auto;
    display: block;
    left: 0;
    right: 0;
    height: 50%;
}