<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="Create Event">
  <ion-content>

    <form name="eventForm" class="list" ng-class="{'submit-attempted': create.submitting}" novalidate>
        <label class="item item-input" ng-class="{ 'has-errors' : eventForm.title.$invalid, 'no-errors' : eventForm.title.$valid}">
            <input type="text" name="title" placeholder="Event Title" ng-model="eventForm.newEvent.title" required>
        </label>
        <label class="item item-input" ng-class="{ 'has-errors' : eventForm.location.name.$invalid, 'no-errors' : eventForm.location.name.$valid}">
            <input type="text" name="location" placeholder="Location" ng-model="eventForm.newEvent.location.name" required>
        </label>
        <label class="item item-input item-select" ng-class="{ 'has-errors' : eventForm.day.$invalid, 'no-errors' : eventForm.day.$valid}">
            <div class="input-label">Day</div>
            <select ng-model="eventForm.newEvent.meta.day" name="day" ng-options="day as day for day in create.days" required></select>
        </label>
            <label class="item item-input item-select" ng-class="{ 'has-errors' : eventForm.month.$invalid, 'no-errors' : eventForm.month.$valid}">
            <div class="input-label">Month</div>
            <select ng-model="eventForm.newEvent.meta.month" name="month" ng-options="month as month for month in create.months" required></select>
        </label>
        <label class="item item-input item-select" ng-class="{ 'has-errors' : eventForm.year.$invalid, 'no-errors' : eventForm.year.$valid}">
            <div class="input-label">Year</div>
            <select ng-model="eventForm.newEvent.meta.year" name="year" ng-options="year as year for year in create.years" required></select>
        </label>

        <label class="item item-input" ng-class="{ 'has-errors' : eventForm.description.$invalid, 'no-errors' : eventForm.description.$valid}">
            <textarea placeholder="Description" name="description" ng-model="eventForm.newEvent.description" required></textarea>
        </label>
        <button class="button button-block button-balanced" type="submit" ng-disable="create.submitting" ng-click="create.submit(eventForm)">
            Submit
        </button>
    </form>

    <div>DEV Payload:</div>
    <pre>{{ eventForm.newEvent | json }}</pre>

  </ion-content>
</ion-view>
