.EventDetail {
    .scroll {
        height: 100%;
    }

    .EventDetail-UserImage {
        border-radius: 100%;
        position: absolute;
        max-height: 10vh;
        top: 15vh;
    }

    .event-img {
        max-height: 20vh;
        max-width: none;
    }

    .EventDetail-Info {
        font-size: 0.8em;
        color: grey;
    }

    .angular-google-map, .angular-google-map-container {
        height: 400px;
        width: 100%;
    }

    .padding {
        height: 500px;
        overflow: scroll;
    }
}